[Unit]
Description=Parental limit service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/play.py /tmp/kid.txt
